.top_bar {
	height:30px;
	width:100%;
	padding-top:7px;
	position:relative;
	display:block;
}

.bar_contents {
	position:relative;
	width:245px;
	float:right;
	padding: 0 30px 0 30px;
}

.text_box {
	height:24px;
	width:120px;
	padding-top: 5px;
	position:relative;
	float:left;
}

.text {
	font-family: arial;
	font-size: 13px;
	color:#3A3A3A;
	margin-left:15px;
	display:inline;
	padding:0 0 0 0;
	cursor:pointer;
}

.text:hover {
	text-decoration: underline;
}


.tiny_logo_box {
	height:30px;
	width: 120px;
	display:inline;
	position:relative;
}

.tiny_logo_box img {
	padding-left:15px;
}

.tiny_logo_box img:first-child, .tiny_logo_box img:nth-child(2) {
	padding-bottom:5px;
}

.logo section {
	height:275px;
	width:auto;
}

.logo_box {
	margin:0 auto;
	width:272px;
	height:275px;
}

.center {
	padding-bottom:35px;
	width:100%;
	display:block;
	position:absolute;
	float:left;
	clear:left;
}

.google_img_container {
	position:relative;
	width:272px;
	margin: 0 auto;
}

.search {
	height:110px;
	width:100%;
	display:block;
	position:absolute;
	float:left;
	clear:left;
	top:320px;
}

.search_bar {
	height:40px;
	width:490px;
	border: none;
	position:relative;
	margin:0 auto;
	display:block;
}

.microphone_box {
	height:40px;
	width:40px;
	position:relative;
	float:right;
	top:-55px;
}

.microphone_box img {
	padding:10px 0 10px 12px;
}


input {
	width:490px;
	height:40px;
	padding:5px 40px 5px 10px;
	font-family: arial;
	font-size: 16px;
	position:relative;
	margin:0 auto;
	display:block;
}

input:hover {
	border:.5px solid #a0a0a0;
}

input:focus {
	outline-color: transparent;
	outline-style: none;
	border: .5px solid #4D90FE;
}

.button_box {
	width:490px;
	padding-top:34px;
	padding-left: 190px;
	margin: 0 auto;
}

.buttons {
	font-family:arial;
	font-weight:bold;
	font-size:13px;
	min-width:54px;
	padding:11px 16px;
	border:1px solid #f2f2f2;
	background-color:#f2f2f2;
	color:#a1a1a1;
	border-radius:2px;
	margin:11px 4px;
	text-align: center;
	display:inline;
}

.buttons:hover {
	color:#000;
	border:1px solid #bbb;
	cursor:pointer;
}

.button_box a {
	text-decoration:none
}

footer {
	position:absolute;
	bottom:0px;
	background-color:#F2F2F2;
	height: 40px;
	width:100%;
}

.footer_left {
	float:left;
	position:relative;
	top:10px;
}

.footer_right {
	float:right;
	position:relative;
	top:10px;
	margin-right:40px;
}

.footer_text {
	padding-left:27px;
	height:40px;
	font-family:arial;
	font-size:13px;
	display:inline;
	color:#3A3A3A;
	cursor:pointer;
}

.footer_left a, .footer_right a {
	text-decoration: none;

}

.footer_left a:hover, .footer_right a:hover {
	text-decoration: underline;
	color:#3A3A3A;
}




















